<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/login.aspx" slidingExpiration="false" timeout="20"></forms>
    </authentication>
    
    
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    
  </system.web>
  
  <connectionStrings>
    <add name="RightAlertDB" connectionString="Server=52.86.93.112;Database=rightalertdb;User Id=rightalert;Password=savingL1v3s;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <location path="Advanced.aspx">
    <system.web>
      <authorization>
        <deny users="?, guest"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>